body {
      background-color: #1A2238;
      /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/dd/Landscape-blue-light-blur-mx.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; */
}
